---
import { footer } from "index.json";
import { YouTube } from 'astro-embed';
import Section from "@/components/Section.astro";

const { copyright, url } = footer;
---

<Section>
  <footer>
<!-- <div class="container"> -->
    <h2 class="title">My latest Video ❤️</h2>
    <div class="latest">
      <YouTube id="https://youtu.be/Htl9ppzEkbA" />
    </div>
<!-- </div> -->
    <a class="button"
        href={url}
        title={`${copyright}`}
        target="_blank"
        rel="noopener noreferrer">
      {copyright}
    </a>
  </footer>
</Section>

<style>
  footer {
    width: 100%;
    margin: 0 auto;
    display: block;
    align-items: center;
    text-align: center;
    min-height: 52dvh;
    height: auto;
  }
  .latest {
    width: 100%;
    max-width: 700px;
    height: 315px;
    min-height: 224px;
    min-width: 337px;
  }
  .title {
    text-align: center;
    padding: 0.5rem 0 2rem 0;
    font-size:x-large;
    color: #ffffff;
  }
  .button {
    color:#990000;
  }
</style>
